@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato&family=Roboto+Condensed:wght@300&display=swap');
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

BELOW IS THE INITIAL SETUP & COLOURS
*/
:root {
--Main: #D29947;
--MainL: #4F4137;
--MainLL: #dbc9b2;
--MainD: #C04D4D;
--White: #ffffff;
--Black: #170a10;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 16px;
  background-color: var(--Black);
  color: var(--White);
  overflow-x: hidden;
}
/*
--------------------------------------------------------------------
ABOVE IS THE INITIAL SETUP & COLOURS

BELOW IS THE NAVIGATION BAR CSS
--------------------------------------------------------------------
*/
nav {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  justify-content: center;
}
#nav {
  position: fixed;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}
a {
  text-decoration: none;
  color: var(--MainLL);
}
a:hover{
  color: var(--Main);
}
#containernav {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  margin: 1vh;
}
#block1 {
  /* width: 8%; */
  /* justify-content: space-around; */
  /* align-items: center; */
}
#Logo {
  width: 80px;
  justify-content: space-around;
}
#block2 {
  /* width: 50%; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
#longdivider {
  padding: 0 1vw;
}
.midnavtxt {
  padding: 0 1vw;
  text-decoration: none;
}
.midnavtxt a {
  padding: 1vw;
}
#block3 {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 18px;
}
.cta a{
  /* text-decoration: none; */
  background-color: var(--Main);
  color: var(--White);
  margin: 0 12px;
  padding: 12px;
  /* text-align: center; */
  /* align-self: center; */
}
.cta a:hover {
  color: var(--Black);
  background-color: var(--MainLL);
}
/*
--------------------------------------------------------------------
ABOVE IS THE NAVIGATION BAR CSS

BELOW IS HERO TEXT / HERO IMAGES
--------------------------------------------------------------------
*/
.heroimg {
  width: 100vw;
  height: 100vh;
}
.menuimg {
  position: relative;
}
#heroimg1 {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg1.jpg");
  background-position: center;
  background-size: cover;
  /* opacity: 80%; */
}
#heroimg2 {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg2.jpg");
  background-position: center;
  background-size: cover;
}
#heroimgAboutUs {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg2.jpg");
  background-position: center;
  background-size: cover;
}
#heroimgBrunch {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgBR.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgDinner {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgDI.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgDesert {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgDE.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgKids {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgKI.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgWine {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgWI.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgBeer {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgBE.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgCocktails {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgCT.jpeg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimgSoftDrinks {
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(255,255,255,0) 100%), url("Images/HeroImgSD.jpg") 50%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#heroimg4 {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg4.jpg");
  background-position: center;
  background-size: cover;
}
#heroimg5 {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg5.jpg");
  background-position: center;
  background-size: cover;
}
#heroimg6 {
  background: linear-gradient(180deg, var(--Black) 5%, rgba(255,255,255,0) 100%), url("Images/HeroImg6.jpg");
  background-position: center;
  background-size: cover;
}
.herotxt {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--White);
  text-shadow: 0 0 5vw var(--Black);
  font-weight: bold;
  padding: 30vh 0 0 15vw;
  font-size: 130px;
}
.menutxt {
  padding: 20vh 0 10vh 5vw;
  font-size: 92px;
  background-color: rgba(0,0,0,.6);
  /* color: var(--Black); */
  width: 100vw;
  text-align: center;
}

.herosubtxt {
  padding-left: 15vw;
  font-size: 14px;
  opacity: 90%;
}
/*
--------------------------------------------------------------------
ABOVE IS HERO TEXT / HEAD OF PAGE

BELOW IS MID SECTION / IMAGE TILES
--------------------------------------------------------------------
*/
#columncont1 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--Black) 25%, rgba(255,255,255,0) 100%), url("Images/tile1.jpg");
  background-position: center;
  background-size: cover;
}
#columncont2 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-90deg, var(--Black) 25%, rgba(255,255,255,0) 100%), url("Images/tile2.jpg");
  background-position: center;
  background-size: cover;
}
#buttonincolumn2 {
  display: flex;
  flex-direction: row;
  width: 12vw;
  justify-content: space-between;
  align-self: flex-end;
}
#columncont2 .subcolumn {
  justify-content: flex-end;
}
#columncont2 .cHeader {
  text-align: right;
}
#columncont3 {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--Black) 25%, rgba(255,255,255,0) 100%), url("Images/tile3.jpg");
  background-position: center;
  background-size: cover;
}
.columns .cta a {
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.8vw;
  margin-right: 20px;
}
.columns .cta {
  margin: 5vh 0;
}
.subcolumn {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.columnmain {
  margin: 10vh 0;
}
.ctext {
  display: flex;
  justify-content: center;
}
#columncont2 .csubtxt {
  justify-content: flex-end;
  text-align: right;
}
.cHeader {
  font-size: 78px;
  font-family: 'Josefin Sans', sans-serif;
}
.csubtxt {
  font-size: 14px;
}
/*
--------------------------------------------------------------------
ABOVE IS MID SECTION / IMAGE TILES

BELOW IS FOOTER SECTION
--------------------------------------------------------------------
*/
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 4vh 0;
  color: var(--MainL);
  background: var(--MainLL);
  position: absolute;
  flex-flow: wrap;
}
footer a{
  color: var(--MainD);
}
footer h2 {
  color: var(--Black);
}
#imagecontfooter {
  text-align: center;
}
#imagecontfooter .subfootertext {
  display: flex;
  justify-content: center;
}
#imagecontfooter img{
  padding: .4vw;
}
.subfootertext #contactfooter {
  text-align: right;
}
.footertab {
  width: 224px;
  padding: 0 4vw;
  text-align: center;
}
.footerlogos{
  width: 50px;
  height: 50px;
}
.footerlogos:hover {
  filter: invert(20%);
}
.fcpadding {
  padding: 5px 0;
}
#footertab1 .subfootertext {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#fcleft {

}
#fcright {

}
/*
--------------------------------------------------------------------
ABOVE IS FOOTER SECTION

BELOW IS MENU SIDE-BAR
--------------------------------------------------------------------
*/
.menutitlecenter {
  width: 70%;
  text-align: center;
}
.menutitlecenter h2 {
  font-size: 36px;
}
#sidemenu {
  position: absolute;
  top: 0%;
  height: 100vh;
  background: #fff;
  color: #000;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subitemmenu {
  padding: 1.3vh 0;
}
.sidemenuitem h2{
  padding-top: 5vh;
  font-size: 240%;
}
#txtboxcont {
  width: 90vw;
  transform: translateX(10vw);
  display: flex;
  justify-content: center;
}
#txtboxcont h5, #txtboxcont h2, #txtboxcont {
  color: var(--Black);
}

h5 {
  font-weight: 300;
}
.textbox {
  width: 60vw;
  padding: 5vw;
  background-color: var(--White);
  margin: 20vh 10%;
}
.MenuItem {
  display: flex;
  padding: 1% 0;
  border-bottom: 1px dashed var(--Black);
}
.hidebottom {
  border-bottom: 1px rgba(0,0,0,0);
}
.MenuItemleftRow {
  width: 70%;
  padding-right: 5%;
}
.menuitemprice {
  display: flex;
  align-items: center;
  padding-right: 5%;
  justify-content: space-between;
  width: 100px;
}
.menuitemprice div{
  width: 120px;
  text-align: center;
}
.menuitemdietary {
  width: 10%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}
.menuitemdietary img {
  height: 20px;
  width: 20px;
}
.menuitehead {
  font-size: 120%;
  font-weight: 600;
  padding: 5px 0;
}
.centercont {
    height: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
  }
.toppadding {
  padding: 5% 0;
}
.centercont h1 {
  font-size: 300%;
  margin: 2% 0;
}
.dietexplainitem {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20%;
}
.dietexplainitem img {
  padding-right: 3%;
}
